In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')
# 커서를 통해서 sql문을 날리는 것.
# 커넥션을 만들고 커서를 부여받고 작업을 시작하는 것
# 커서에게 일을 시키는 것

In [3]:
# Cursor 생성
cur = conn.cursor()

In [4]:
cur.execute('CREATE TABLE temp (name, age)')

In [ ]:
# 위 output은 cursor의 위치가 바뀐 것을 알려줌. 아무런 제약조건을 넣지 않음

In [5]:
cur.execute('INSERT INTO temp (name, age) VALUES (1, 2)')

In [6]:
cur.execute('SELECT * FROM temp')

In [7]:
cur.fetchall()
# 반환값을 보여주는 것

[(1, 2)]

In [11]:
# qmark, named 방식

In [10]:
# qmark 방식
cur.execute('INSERT INTO temp VALUES(?, ?)', ['hi', 'hello'])
# 모든 컬럼에 값을 넣기 위해 컬럼명을 따로 안 씀

In [9]:
cur.execute('SELECT * FROM temp')
cur.fetchall()

[(1, 2), ('hi', 'hello')]

In [12]:
# named 방식
cur.execute('INSERT INTO temp VALUES(:name, :age)',
            {'name':'이름','age':4})

In [13]:
cur.execute('SELECT * FROM temp')
cur.fetchall()

[(1, 2), ('hi', 'hello'), ('hi', 'hello'), ('이름', 4)]

In [14]:
data = [(1, 'A'), (2, 'B'), (3, 'C')]
cur.executemany('INSERT INTO temp VALUES(?, ?)', data)
cur.execute('SELECT * FROM temp')
cur.fetchall()
# executemany => SQL 문을 반복해서 execute 시켜줄 때

[(1, 2),
 ('hi', 'hello'),
 ('hi', 'hello'),
 ('이름', 4),
 (1, 'A'),
 (2, 'B'),
 (3, 'C')]

In [15]:
# named 스타일도 가능함.
# executemany 는 iterable한 애로 묶어주면 여러번 반복 됨

In [16]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [19]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [20]:
data = [{'name':4, 'age':'A'}, {'name':5, 'age':'B'}, {'name':6, 'age':'C'}]
cur.executemany('INSERT INTO temp VALUES(:name, :age)', data)
cur.execute('SELECT * FROM temp')
cur.fetchall()

[(1, 2),
 ('hi', 'hello'),
 ('hi', 'hello'),
 ('이름', 4),
 (1, 'A'),
 (2, 'B'),
 (3, 'C'),
 (4, 'A'),
 (5, 'B'),
 (6, 'C')]

In [32]:
# fetch 에 대해 알아보자
cur.execute('SELECT * FROM temp')
cur.fetchone()

(1, 2)

In [33]:
cur.execute('SELECT * FROM temp')
cur.fetchmany(3)

[(1, 2), ('hi', 'hello'), ('hi', 'hello')]

In [34]:
# LIMIT 사용
cur.execute('SELECT * FROM temp LIMIT 1,4')
cur.fetchall()

[('hi', 'hello'), ('hi', 'hello'), ('이름', 4), (1, 'A')]

In [45]:
cur.execute('DROP table temp2')

In [46]:
cur.executescript('''
    CREATE TABLE temp2 (
        pk INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT
    );
    
    INSERT INTO temp2 (name) VALUES ('이름1');
    INSERT INTO temp2 VALUES (NULL, '이름2');
''')
# 한번에 multiple 실행

In [ ]:
# INSERT INTO temp2 (name) VALUES ('이름1'); => pk x 자동 1
# INSERT INTO temp2 VALUES (NULL, '이름2'); => null 자동 2

In [47]:
cur.execute('SELECT * FROM temp2')
cur.fetchall()

[(1, '이름1'), (2, '이름2')]

In [31]:
cur.execute('DROP TABLE temp2')

In [48]:
cur.execute('INSERT INTO temp2 VALUES(1, 1)')

# 오류가 뜨는 이유는 이미 PK 값에 1이 존재하기 떄문
# 아래 unique 참고

IntegrityError: UNIQUE constraint failed: temp2.pk

In [49]:
# DB 를 닫을 때
conn.close()
# 메모리에서 작업을 했으니 닫혔는지 안 닫혔는지 알 수 없음.

In [50]:
# 다시 열기
# file에 생성해보기
# 나의 현재 폴더 확인
!pwd

/Users/baekkwanghyun/Desktop/SW_academy

In [51]:
con = sqlite3.connect('test2.db')
# 확장자는 사람이 구분하기 위한 역할이지, 확장자가 하는 역할은 없음

In [52]:
cur = con.cursor()

In [53]:
cur.executescript('''
    DROP TABLE IF EXISTS temp1;
    CREATE TABLE temp1 (
        pk INTEGER PRIMARY KEY,
        name TEXT
    );
    
    INSERT INTO temp1 VALUES(1, '이름1');
    INSERT INTO temp1 VALUES(2, '이름2');
''')

# 모든 언어는 띄어쓰기는 한번 이상되는 것은 한번으로 무시됨

In [ ]:
#DROP TABLE IF EXISTS temp1; => 만약 temp1이 기존에 있으면 drop
#    => 매번 초기화되기 때문에 연습할 때만 쓸 것

In [54]:
cur.execute('SELECT * FROM temp1')
cur.fetchall()

[(1, '이름1'), (2, '이름2')]

In [ ]:
# AUTOINCREMENT 가 없으면 내가 PK를 관리해주어야 함

In [55]:
cur.execute('INSERT INTO temp1 (name) VALUES (111)')
cur.execute('SELECT * FROM temp1')
cur.fetchall()

[(1, '이름1'), (2, '이름2'), (3, '111')]

In [47]:
# COMMIT 을 보자

DB Browser for SQLite3 -> Download -> Not install

In [56]:
cur.execute('INSERT INTO temp1 VALUES(NULL, "보이나")')
# Browser 로 값이 들어있는지 확인 - 안보이는게 정상
# 데이터의 무결성을 RDB가 증명해야 하기 때문에 내가 입력했다고 해서 바로 반영하는 것이 아님
# COMMIT 을 해주어야 물리적으로 반영이 된다.

In [57]:
con.commit()
# 그래야 물리적으로 반영됨.
# insert와 관련된 것들은 중간에 어떤 오류, 중간에 어디서 다시 rollback을 해야할지 시점을 잡아줬지 않았기 때문에
# 항상 데이터베이스에는 항상 원본이 유지되어야 함.
# 따라서 물리적 DB에 반영을 할지 말지를 명시적으로 전달해줘야 함(COMMIT)
# executescirpt 는 묵시적으로 commit 함

In [ ]:
# DROP, DELETE, INSERT, UPDATE 는 COMMIT으로 기록을 해줘야 반영됨.
# begin transaction을 사용하면, 하나 끝나면 commit 하게 해줌.

In [58]:
cur.lastrowid
# 마지막에 insert된 pk 값

4

In [59]:
con.close()

In [ ]:
# 예제 - 프렌차이즈 전산실
# CITY, SUPPLIER, PART, SELLS(관계를 나타내는 TABLE)
# CITY: PK, NAME
# SUPLLIER: PK, NAME, FK(CITY.PK)
# PART: PK, NAME
# SELLS: FK(S.PK), FK(P.PK), PRICE

In [60]:
con = sqlite3.connect('example2.db')
cur = con.cursor()

In [61]:
cur.executescript('''
    CREATE TABLE city (
        pk INTEGER PRIMARY KEY,
        name TEXT
    );
    CREATE TABLE supplier (
        pk INTEGER PRIMARY KEY,
        name TEXT,
        fk INTEGER NOT NULL
    );
    CREATE TABLE part (
        pk INTEGER PRIMARY KEY,
        name TEXT
    );
    CREATE TABLE sells (
        fk1 INTEGER NOT NULL,
        fk2 INTEGER NOT NULL,
        price INTEGER NOT NULL
    );
''')

In [64]:
data = [('성북구',), ('중구',), ('강북구',), ('어쩌구',), ('저쩌구',)]
cur.executemany('INSERT INTO city(name) VALUES (?)', data)

In [63]:
data = [('성북구'), ('중구'), ('강북구'), ('어쩌구'), ('저쩌구')]
cur.executemany('INSERT INTO city(name) VALUES (?)', data)
# 튜플 형태 (value, ) 로 묶어줘야 함.

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 3 supplied.

In [65]:
cur.execute('SELECT * FROM city')
cur.fetchall()

[(1, '성북구'), (2, '중구'), (3, '강북구'), (4, '어쩌구'), (5, '저쩌구')]

In [66]:
data = [('메뉴1',), ('메뉴2',), ('메뉴3',), ('메뉴4',), ('메뉴5',)]
cur.executemany('INSERT INTO part(name) VALUES (?)', data)

In [67]:
cur.execute('SELECT * FROM part')
cur.fetchall()

[(1, '메뉴1'), (2, '메뉴2'), (3, '메뉴3'), (4, '메뉴4'), (5, '메뉴5')]

In [68]:
# FK 를 위해 어느 도시에 속했는지
cur.execute('SELECT * FROM city')
for row in cur.fetchall():
    if row[1] == '성북구':
        print(row[0])

1

In [71]:
cur.execute('SELECT * FROM city WHERE name=:name', {'name':'성북구'})
cur.fetchone()[0]

1

In [73]:
cur.execute('SELECT * FROM city WHERE name LIKE :name', {'name':'%성북%'})
cur.fetchone()

(1, '성북구')

In [74]:
cur.execute('SELECT * FROM (SELECT pk FROM city WHERE name LIKE :name)',
            {'name':'%성북%'})
cur.fetchall()

[(1,)]

In [75]:
cur.execute('SELECT * FROM city')
for row in cur.fetchall():
    if row[1] == '성북구':
        pk = row[0]
        cur.execute('INSERT INTO supplier (name, fk) VALUES(?, ?)',
                   ['안암 1호점', pk])
        break

In [76]:
cur.execute('SELECT * FROM supplier')
cur.fetchall()

[(1, '안암 1호점', 1)]

In [77]:
# 이렇게 쓰면 안 좋음
cur.execute('SELECT * FROM city, supplier')
cur.fetchall()

[(1, '성북구', 1, '안암 1호점', 1),
 (2, '중구', 1, '안암 1호점', 1),
 (3, '강북구', 1, '안암 1호점', 1),
 (4, '어쩌구', 1, '안암 1호점', 1),
 (5, '저쩌구', 1, '안암 1호점', 1)]

In [78]:
cur.execute('SELECT pk FROM city WHERE name LIKE :name', {'name':'%성북%'})
pk = cur.fetchone()[0]
cur.execute('INSERT INTO supplier (name, fk) VALUES(?, ?)',
           ['안암 2호점', pk])

In [79]:
cur.execute('SELECT * FROM supplier')
cur.fetchall()

[(1, '안암 1호점', 1), (2, '안암 2호점', 1)]

In [80]:
# 쿼리문 중첩 방법
cur.execute('''
    INSERT INTO supplier(name, fk)
    VALUES(?,(SELECT pk FROM city WHERE name LIKE ? LIMIT 0,1))
    ''', ['종암 1호점','%성북%'])

In [81]:
cur.execute('SELECT * FROM supplier')
cur.fetchall()

[(1, '안암 1호점', 1), (2, '안암 2호점', 1), (3, '종암 1호점', 1)]

In [82]:
con.commit()

In [83]:
data = ['%안암%1호%', '%메뉴1%', 4500]

cur.execute('''
    INSERT INTO sells(fk1, fk2, price)
    VALUES((SELECT pk FROM supplier WHERE name LIKE ? LIMIT 0,1),
           (SELECT pk FROM part WHERE name LIKE ? LIMIT 0,1),
           ?)
    ''', data)

In [84]:
data = [['%안암%1호%', '%메뉴2%', 4500],
        ['%안암%1호%', '%메뉴2%', 5000],
        ['%안암%2호%', '%메뉴1%', 4700],
        ['%안암%2호%', '%메뉴2%', 4900],
        ['%종암%1호%', '%메뉴4%', 5300],
        ['%종암%1호%', '%메뉴5%', 2300],
        ['%종암%1호%', '%메뉴1%', 900]]

cur.executemany('''
    INSERT INTO sells(fk1, fk2, price)
    VALUES((SELECT pk FROM supplier WHERE name LIKE ? LIMIT 0,1),
           (SELECT pk FROM part WHERE name LIKE ? LIMIT 0,1),
           ?)
    ''', data)

In [85]:
cur.execute('SELECT * FROM sells')
cur.fetchall()

[(1, 1, 4500),
 (1, 2, 4500),
 (1, 2, 5000),
 (2, 1, 4700),
 (2, 2, 4900),
 (3, 4, 5300),
 (3, 5, 2300),
 (3, 1, 900)]

In [86]:
# JOIN 연산
# INNER JOIN
cur.execute('''
    SELECT city.name, supplier.name FROM city
    INNER JOIN supplier
    ON city.pk = supplier.fk
    ''')
cur.fetchall()

[('성북구', '안암 1호점'), ('성북구', '안암 2호점'), ('성북구', '종암 1호점')]